* {
    margin: 0 0 0 0;
}

#title {
    font-size: 50px;
    color: black;
    background-color: grey;
}

.desciption {
    background-color: aliceblue;
    
    & > .button {
        font-size: 100px;

        &:hover {
            font-size: 200px;
        }
    }
}