@import url(../src/color.css);

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* --- Responsive Logo Size --- */
.logo-image {
  max-width: 100%;
  width: 150px;
  height: auto;
}